<!DOCTYPE html>
<html>
  <head>
    <title>Long Reads</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% view_data.forEach(element => { %>
    <li><%= element.date %></li>
    <% element.links.forEach(link => { %>
    <li>
      <p><%= link.description %></p>
      <p><%= link.link %></p>
    </li>

    <% }) %> <% }) %>
  </body>
</html>
