<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <title>Bryan's Longreads</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
      <div class="max-w-3xl mx-auto">
        <div class="px-4 py-5 sm:px-6 t">
          <!-- Content goes here -->
          <h1 class="text-3xl">Bryan's Longread Suggestions</h1>
          <!-- We use less vertical padding on card headers on desktop than on body sections -->
        </div>
        <div class="bg-white overflow-hidden shadow sm:rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <% view_data.forEach(element => { %>
            <ul class="divide-y divide-gray-200 mb-10">
              <li class="text-green-600 font-bold text-lg ml-3">
                <%= element.date %>
              </li>
              <% element.links.forEach(link => { %>

              <li class="py-4 flex">
                <div class="ml-3">
                  <p class="text-sm font-medium text-gray-900 mb-3">
                    <%= link.description %>
                  </p>
                  <a
                    target="_blank"
                    rel="noopener"
                    href="<%= link.link %>"
                    class="text-sm text-green-400 flex items-center"
                  >
                    <%= link.link_short_name %>
                    <img src="images/out-link.png" class="w-3.5 h-3.5 ml-1" />
                  </a>
                </div>
              </li>

              <% }) %>
              <!-- end inner for each -->
            </ul>
            <% }) %>
            <!-- end outer for each -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
